.primary-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 10px;
  width: fit-content;
  height: 77px;
  white-space: nowrap;
  background: linear-gradient(77.09deg, #00ffc8 -22.14%, #2f5ed8 119.18%);
  border-radius: 80px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}
.primary-button:hover {
  color: var(--white-color);
}

.primary-button--white {
  background: var(--white-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  transition: all var(--timing-function);
}
.primary-button--white:hover {
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
}
.primary-button--white:target {
  color: var(--light-grey-color);
  border: 2px solid var(--light-grey-color);
}

.skew-container {
  transform: skew(0deg, -5.55deg);
}

.main-text {
  font-size: 18px;
  line-height: 1.4;
  color: var(--primary-text-color);
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 32px;
  text-align: center;
}

.models-section .section-title {
  margin-bottom: 40px;
}

.section-subtitle {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}

.main-text--mb30 {
  margin-bottom: 30px;
}

.section-subtitle--white {
  color: var(--primary-text-color);
}

* {
  padding: 0;
  margin: 0;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  color: var(--primary-text-color);
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primary-background-color);
  font-family: "Ubuntu Sans", sans-serif;
  overflow-x: hidden;
  color: var(--primary-text-color);
}

.site-wrapper {
  overflow-x: hidden;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding: 0 30px;
  }
}
:root {
  --accent-color: #5980e1;
  --primary-background-color: #ffffff;
  --primary-text-color: #333333;
  --white-color: #fff;
  --light-grey-color: #d9d9d9;
  --footer-grey-color: #f4f4f4;
  --primary-font: "Ubuntu Sans", sans-serif;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --image-animation-1: heartbeat 1.5s both;
}

.page-header {
  position: relative;
  z-index: 2;
}

.header__container {
  position: relative;
  z-index: 2;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.site-nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.site-nav__item {
  position: relative;
}

.site-nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  height: 2px;
  width: 0%;
  background-color: var(--primary-text-color);
  color: var(--primary-text-color);
  transition: all var(--timing-function);
}

.site-nav__item:hover::after {
  width: 100%;
}

.site-nav__link {
  font-size: 24px;
  padding: 30px 12px;
  color: var(--primary-text-color);
  transition: color var(--timing-function);
}
.site-nav__link:hover {
  color: inherit;
}
.site-nav__link:target {
  color: var(--light-grey-color);
  border: 2px solid var(--light-grey-color);
}

.site-nav__item.active .site-nav__link {
  color: var(--light-grey-color);
}
.site-nav__item.active .site-nav__link::after {
  width: 100%;
}

.site-nav__item.active > .site-nav__link {
  color: var(--light-grey-color);
}

.site-nav__item.active::after {
  width: 100%;
  color: var(--light-grey-color);
  background-color: var(--light-grey-color);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__button {
  width: 40px;
  height: 40px;
  display: none;
}

.header__button.header__button--close {
  display: none;
}

@media screen and (max-width: 1023px) {
  .page-header {
    position: fixed;
    background-color: var(--primary-background-color);
    width: 100%;
  }
  .header__button {
    display: block;
  }
  .header__button.is-open {
    display: none;
  }
  .header__button--close.is-open {
    display: block;
  }
  .main-nav {
    padding: 15px;
    align-items: center;
    position: relative;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-between;
  }
  .site-nav {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: var(--primary-background-color);
    padding: 60px 60px;
    z-index: 10;
    opacity: 0;
    transform: translateX(100%);
    transition: transform var(--timing-function), opacity var(--timing-function);
  }
  .site-nav .primary-button {
    margin-top: 30px;
  }
  .site-nav.is-open {
    opacity: 1;
    transform: translateY(0%);
  }
  .header__button {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    transition: transform var(--timing-function), color var(--timing-function);
  }
  .header__button:hover {
    color: var(--accent-color);
  }
}
.hero__section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 42vw;
  background-image: url(../images/hero-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 96px;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  width: 42%;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 51%;
}
.hero__image img {
  width: 100%;
  float: inline-end;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 40px;
}

.hero__box {
  align-items: center;
  display: flex;
  margin-bottom: 90px;
  gap: 60px;
}

.hero__text {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero__buttons {
  display: flex;
  gap: 40px;
}
.hero__buttons .primary-button--white {
  width: 200px;
}

.models__secrtion {
  margin-top: 90px;
}

.models__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.models__item {
  width: 50%;
  padding: 36px 24px;
}

.models__thumb {
  display: flex;
  gap: 5%;
  align-items: center;
}
.models__thumb img {
  width: 55%;
}
.models__thumb .models__info {
  width: 40%;
}

.models__text {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.models-label {
  /* Frame 1 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 24px;
  gap: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 80px;
  font-size: 24px;
  color: var(--primary-text-color);
  font-weight: 400;
  margin-bottom: 32px;
  white-space: nowrap;
}

.models-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  white-space: nowrap;
}

.models__list > :nth-child(1) {
  position: relative;
}

.models__list > :nth-child(1):after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  height: 95%;
  width: 2px;
  background-color: var(--light-grey-color);
}

.models__list > :nth-child(3) {
  border-right: 2px solid var(--light-grey-color);
  border-top: 2px solid var(--light-grey-color);
}

.models__list > :nth-child(4) {
  position: relative;
}

.models__list > :nth-child(4):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 2px;
  background: var(--light-grey-color);
}

.models-section .primary-button {
  margin: 40px auto 0;
}

.advantages__section {
  margin: 96px 0;
}
.advantages__section .primary-button {
  margin: 40px auto 0;
}

.main-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-text-color);
}

.main-text--blue {
  color: var(--accent-color);
}
.main-text--blue:hover {
  color: var(--accent-color);
}

.advantages__list {
  row-gap: 24px;
  column-gap: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 24px;
}
.advantages__item .section-title {
  margin-bottom: 0;
}
.advantages__item p {
  text-align: center;
}

.slider-section {
  margin-bottom: 96px;
}
.slider-section .card-title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 40px;
}
.slider-section .card {
  border: none;
}
.slider-section .card-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-text-color);
}
.slider-section .card-body {
  padding: 0;
}
.slider-section .slider-nav {
  filter: none;
}
.slider-section .slider-indicators {
  width: 100%;
  justify-content: end;
}
.slider-section .primary-button {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.slider-indicators {
  position: inherit;
  bottom: -60px;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.slider-indicators > * {
  width: 217px;
  opacity: 0.1;
}

.slider-nav-prev {
  left: inherit;
  right: 40px;
}

.slider-nav.slider-nav-next {
  right: -20px;
}

.slider-nav {
  top: inherit;
  bottom: 130px;
}

.card-label {
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 700;
}

.card-thumb {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card-img-box {
  width: 48%;
}

.card-content {
  width: 48%;
  position: relative;
  padding-top: 70px;
}

.slider-nav {
  filter: none;
}

.slider-indicators > * {
  transition: none;
  border: none;
}

.slider-indicators > .active {
  opacity: 1;
  filter: none;
  color: var(--accent-color);
  background-color: var(--accent-color);
}

.form {
  width: 100%;
  height: 100%;
}

.form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;
  gap: 56px;
  margin: 0 auto;
  width: 567px;
  background: var(--white-color);
  box-shadow: 4px 4px 24px 8px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 1.25rem;
  font-size: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid var(--primary-text-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 80px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::placeholder {
  color: var(--light-grey-color);
}

.form-textarea {
  display: block;
  width: 100%;
  border-radius: 30px;
  padding: 0.375rem 1.25rem;
  font-size: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid var(--primary-text-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-textarea::placeholder {
  color: var(--light-grey-color);
}

button.primary-button {
  border: none;
}

.form__label {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 16px;
  font-weight: 400;
  margin-left: 13px;
}

.form__name {
  margin-bottom: 24px;
}

.container.form-container {
  position: relative;
}
.container.form-container .primary-button {
  border: none;
  margin: 56px auto 0;
}

.config .aframe-thumb .form .form__name {
  margin-bottom: 0px;
}
.config .aframe-thumb .form label {
  position: inherit;
  width: 100%;
  text-align: start;
  padding: 0 0 0 24px;
  height: 30px;
}

.content.submission h3 {
  font-size: 24px;
}

.aframe-thumb {
  display: flex;
  justify-content: space-between;
}
.aframe-thumb .aframe-form {
  width: 56%;
}
.aframe-thumb .aframe-box {
  width: 40%;
}
.aframe-thumb .aframe-box .title {
  line-height: inherit;
}
.aframe-thumb .config .config-container .content-container .content p.title {
  margin: 0;
}
.aframe-thumb .hero__buttons {
  width: 100%;
  align-items: end;
}

.sub-list {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.config .config-container .content-container .content .aframe-box p {
  margin: 0 8px 0 0;
  white-space: nowrap;
}

.sub-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-item .price {
  font-weight: 900;
}

.sub-item__main {
  font-size: 16px;
}

.sub-item__pos {
  display: flex;
  align-items: center;
}

.sub-item__color {
  color: var(--light-grey-color);
  margin-right: 8px;
}

.sub-fs {
  font-size: 14px;
}

.config .config-container .content-container .content .sub-list p {
  font-size: 12px;
  line-height: 24px;
}

.config .config-container .content-container .content .sub-fs p {
  font-size: 14px;
}

.footer {
  padding: 111px 0 96px;
  background-color: var(--footer-grey-color);
  margin-top: 348px;
}

.footer__background--deco {
  position: absolute;
  bottom: 0;
  background-color: var(--secondary-background-color);
  height: 300px;
  width: 100%;
}

.footer-nav__thumb {
  width: 630px;
  display: flex;
  gap: 60px;
}

.footer__content {
  flex-flow: column;
  display: flex;
  width: 50%;
  gap: 30px 0;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  display: flex;
  align-items: center;
}
.footer__social-item a {
  padding: 5px;
}

.footer__social-icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: fill var(--timing-function);
}

.footer__social-icon:hover {
  fill: var(--white-color);
}

.footer-nav__title {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-text-color);
  cursor: pointer;
}

.footer-nav__link {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-text-color);
  transition: color var(--timing-function);
}
.footer-nav__link:hover {
  color: var(--primary-text-color);
}

.footer-nav__item {
  padding: 4px 8px;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.footer-nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 1px;
  width: 0%;
  background-color: var(--primary-text-color);
  color: var(--primary-text-color);
  transition: all var(--timing-function);
}

.footer-nav__item:hover::after {
  width: 100%;
}

.howto__section {
  margin-top: 96px;
  margin-bottom: 96px;
}
.howto__section .main-text {
  font-size: 16px;
}
.howto__section img {
  width: 400px;
  height: 417px;
}
.howto__section .section-title {
  margin-bottom: 8px;
  text-align: start;
}
.howto__section .howto__intro {
  width: 600px;
  margin-bottom: 40px;
}
.howto__section .howto_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.howto__section .ho_wto__item {
  display: flex;
  gap: 60px;
  align-items: center;
}
.howto__section .main-text {
  margin-bottom: 32px;
}

.howto__call {
  margin: 96px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-about .hero__content {
  width: 47%;
}

.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__section.hero-about {
  position: relative;
  width: 100%;
  height: 47vw;
  background-image: url(../images/hero-about.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 20px;
}

.advantages__section.advantages__about {
  margin: 146px 0 96px 0;
}

.advantages__about .howto__call .main-text {
  width: 780px;
  text-align: center;
}

.team .section-title {
  text-align: start;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.team-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.team-item img {
  width: 320px;
}

.team-item__name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.team-item__label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 32px;
}

.team-item span {
  font-size: 48px;
}

.addresses-thumb {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contacts__item img {
  width: 40px;
}

.docs__section {
  margin: 96px 0;
}
.docs__section .section-title {
  text-align: start;
}

.docs__thumb {
  display: flex;
  gap: 10%;
}

.docs__content {
  width: 75%;
}
.docs__content p,
.docs__content h3,
.docs__content h4 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
.docs__content a {
  color: var(--primary-text-color);
}

.docs__nav {
  width: 15%;
}

.list-style__number {
  list-style: disc;
  padding-left: 20px;
}

.docs-gap {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.docs__content .docs__prev {
  margin-bottom: 36px;
}

.docs__item {
  position: relative;
}
.docs__item::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 0px;
  height: 100%;
  width: 2px;
  background-color: var(--light-grey-color);
}

.docs__item.active::after {
  background-color: var(--accent-color);
}

.docs__link {
  padding: 6px;
  font-size: 24px;
  color: var(--primary-text-color);
}

.license-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.license-item {
  display: flex;
  gap: 40px;
}

.desk-none {
  display: none;
}

.slider-indicators.mobile {
  display: none;
}

.hero-model_thumb {
  display: flex;
  gap: 60px;
}
.hero-model_thumb .hero-image {
  display: none;
}

.hero-model.hero__section {
  background-image: none;
  margin-top: 96px;
  padding: 0;
}

.hero-model .models__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero-model .slider-item-ratio .slider-container > * > * {
  height: auto;
}
.hero-model .slider-nav-round .slider-nav-outside-expand {
  width: 56%;
  position: absolute;
  bottom: 140px;
  right: 200px;
}

.config {
  margin-top: 288px;
  margin-bottom: 96px;
}
.config .section-title {
  text-align: start;
}
.config .config-img {
  width: 42%;
}
.config .config-img img {
  width: 100%;
}
.config .config-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.config .config-container {
  width: 55%;
  font-size: 0;
  right: 0;
  top: 0;
}
.config .config-container input.config-item {
  display: none;
}
.config .config-container input.config-item:checked + label {
  border-bottom: 2px solid var(--primary-text-color);
  transition: 0.25 all ease;
  z-index: 9;
}
.config .config-container input.config-item#tab1:checked ~ .line {
  display: none;
}
.config .config-container input.config-item#tab1:checked ~ .content-container #c1 {
  z-index: 99;
  opacity: 1;
  padding: 40px 0 0;
}
.config .config-container input.config-item#tab2:checked ~ .line {
  display: none;
}
.config .config-container input.config-item#tab2:checked ~ .content-container #c2 {
  z-index: 99;
  opacity: 1;
  padding: 40px 0 0;
}
.config .config-container input.config-item#tab3:checked ~ .line {
  display: none;
}
.config .config-container input.config-item#tab3:checked ~ .content-container #c3 {
  z-index: 99;
  opacity: 1;
  padding: 40px 0 0;
}
.config .config-container input.config-item#tab4:checked ~ .line {
  display: none;
}
.config .config-container input.config-item#tab4:checked ~ .content-container #c4 {
  z-index: 99;
  opacity: 1;
  padding: 40px 0 0;
}
.config .config-container input.config-item#tab5:checked ~ .line {
  display: none;
}
.config .config-container input.config-item#tab5:checked ~ .content-container #c5 {
  z-index: 99;
  opacity: 1;
  padding: 40px 0 0;
}
.config .config-container input.config-item#tab6:checked ~ .line {
  display: none;
}
.config .config-container input.config-item#tab6:checked ~ .content-container #c6 {
  z-index: 99;
  opacity: 1;
  padding: 40px 0 0;
}
.config .config-container label {
  white-space: nowrap;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  width: 16.6666666667%;
  text-align: center;
  color: #555;
  position: relative;
  transition: 0.25s background ease;
  cursor: pointer;
}
.config .config-container label::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  background: #ccc;
  bottom: 0;
  opacity: 0;
  left: 0;
  transition: 0.25s ease;
}
.config .config-container label:hover::after {
  opacity: 0;
}
.config .config-container .line {
  position: absolute;
  height: 2px;
  background: var(--primary-text-color);
  width: 16%;
  top: 34px;
  left: 0;
  transition: 0.25s ease;
}
.config .config-container .content-container {
  position: relative;
  height: 800px;
  font-size: 16px;
}
.config .config-container .content-container .content {
  position: absolute;
  padding: 10px;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0.25s ease;
  color: #333;
}
.config .config-container .content-container .content h3 {
  font-weight: 200;
  margin: 10px 0;
}
.config .config-container .content-container .content p {
  margin: 10px 0;
}
.config .config-container .content-container .content p,
.config .config-container .content-container .content i {
  font-size: 16px;
}
.config .config-container .content-container .price-thumb {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.config .config-container .content-container .price {
  display: flex;
  gap: 24px;
}
.config .config-container .content-container .price__number {
  font-weight: 900;
}

.content-options h2 {
  font-size: 24px;
  font-weight: 400;
}
.content-options .options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content-options .option-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.content-options .options img {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
}
.content-options .options img.selected {
  border-color: #333;
}
.content-options #preview {
  width: 400px;
  height: 400px;
  border: 2px solid #ccc;
  object-fit: cover;
}

.layout .layout-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.layout .section-title {
  text-align: start;
  font-size: 24px;
}
.layout .layout-box {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.layout .layout-box:first-child {
  width: 62%;
}
.layout .layout-plan {
  width: 100%;
  margin-bottom: 24px;
}
.layout .layout-plan img {
  width: 100%;
}
.layout .layout-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.layout .layout-images .layout-img {
  width: 48%;
}
.layout .layout-images img {
  width: 100%;
}
.layout .layout-info {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.layout-box div.mt {
  padding-top: 40px;
  border-top: 2px solid var(--light-grey-color);
}

.swiffy-slider.slider-nav-autohide.slider-item-first-visible .slider-nav:not(.slider-nav-next) {
  visibility: visible;
  opacity: 0.2;
  cursor: inherit;
}

.swiffy-slider.slider-nav-autohide.slider-item-last-visible .slider-nav.slider-nav-next {
  visibility: visible;
  opacity: 0.2;
  cursor: inherit;
}

.hero-model .slider-nav-round {
  position: absolute;
  top: -80px;
  right: 0;
  width: 58%;
}

.hero-model .slider-nav-chevron {
  bottom: -620px;
  width: 140%;
  right: 253px;
}

.swiffy-slider__aframe {
  display: none;
}

.submission .hero__buttons {
  margin-top: 40px;
  justify-content: end;
}

.hero__image--mob img {
  display: none;
}

@media screen and (max-width: 1339px) {
  .hero__section.hero-about {
    padding: 0 0;
  }
  .hero__section.hero-about .hero__image {
    top: 30px;
  }
  .slider-section .card-text {
    font-size: 18px;
  }
  .slider-section .card-content {
    padding-top: 0px;
  }
  .slider-section .card-img-box {
    width: 42%;
  }
  .slider-section .card-content {
    width: 55%;
  }
  .slider-section .card-title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .slider-section .primary-button {
    bottom: 0px;
  }
  .slider-section .slider-nav {
    bottom: 90px;
  }
  .form__wrapper {
    bottom: 180px;
  }
  .footer {
    margin-top: 450px;
  }
}
@media screen and (max-width: 1023px) {
  .hero__section {
    background-image: none;
    height: max-content;
    margin-top: 100px;
  }
  .hero__section .hero__box {
    gap: 45px;
  }
  .hero__section .hero__content {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .hero__section .hero__title {
    font-size: 32px;
    margin: 0 0 32px;
  }
  .hero__section .hero__image--mob {
    margin-bottom: 16px;
  }
  .hero__section .hero__image--mob img {
    max-width: 420px;
    margin: 0 auto;
  }
  .hero__section .hero__title {
    margin: 0 0 16px;
  }
  .hero__section .hero__text {
    margin-bottom: 16px;
  }
  .hero__section .hero__buttons {
    justify-content: center;
    gap: 20px;
  }
  .hero__section.hero-about .hero__image {
    top: 170px;
  }
  .hero__section.hero-about {
    background-image: none;
    height: fit-content;
  }
  .section-subtitle {
    font-size: 24px;
  }
  .models__item {
    width: 100%;
    padding: 0;
  }
  .models__thumb {
    flex-direction: column;
  }
  .models__thumb img {
    max-width: 420px;
    margin-bottom: 24px;
  }
  .models__thumb .models__info {
    width: 100%;
  }
  .models__list {
    width: 100%;
    gap: 36px;
  }
  .models__list > :nth-child(1):after {
    display: none;
  }
  .models__list > :nth-child(3) {
    border: none;
  }
  .models__list > :nth-child(4):after {
    display: none;
  }
  .models-label {
    width: fit-content;
    margin: 0 auto 16px;
  }
  .models-info p {
    text-align: center;
  }
  .models-section .primary-button {
    width: fit-content;
  }
  .models-section .section-subtitle {
    text-align: center;
    margin-bottom: 16px;
  }
  .slider-section .card-title {
    font-size: 36px;
  }
  .slider-section .card-text {
    font-size: 16px;
  }
  .slider-section .slider-nav-prev {
    display: none;
  }
  .slider-section .slider-nav-next {
    display: none;
  }
  .slider-section .primary-button {
    position: unset;
    width: fit-content;
    margin: 0 auto;
  }
  .slider-section .swiffy-slider {
    position: relative;
  }
  .slider-section .slider-indicators {
    position: absolute;
    top: 470px;
    height: fit-content;
    justify-content: center;
  }
  .slider-section .card-thumb {
    flex-direction: column;
    justify-content: flex-start;
  }
  .slider-section .card-img-box {
    width: 420px;
    margin: 0 auto;
  }
  .slider-section .card-content {
    width: 100%;
  }
  .slider-section .card-label {
    justify-content: start;
    display: none;
  }
  .slider-section .card-content {
    padding-top: 80px;
  }
  .slider-section .card-content p {
    margin-bottom: 40px;
  }
  .addresses-thumb {
    margin-top: 140px;
    flex-direction: column;
  }
  iframe {
    width: 100%;
  }
  .footer {
    padding: 140px 0 96px;
    margin-top: 310px;
  }
  .footer-nav__thumb {
    width: 100%;
    flex-wrap: wrap;
    gap: inherit;
    row-gap: 80px;
    justify-content: space-evenly;
  }
  .footer__content {
    width: 100%;
    align-items: center;
  }
  .form__wrapper {
    min-width: 340px;
    width: min-content;
    padding: 36px 24px;
    bottom: 400px;
    right: 50%;
    transform: translateX(50%);
  }
  .slider-indicators.desk {
    display: none;
  }
  .howto__section .section-title {
    text-align: start;
    margin-top: 120px;
  }
  .howto__section .main-text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .howto__section .section-title {
    font-size: 24px;
  }
  .howto__section .howto_list {
    gap: 24px;
  }
  .howto__section .ho_wto__item {
    flex-direction: column;
    gap: 16px;
  }
  .howto__section .section-subtitle {
    margin-bottom: 16px;
  }
  .howto__section .howto__intro {
    width: fit-content;
  }
  .howto__section .ho_wto__item > div {
    order: 1;
  }
  .howto__section .section-subtitle {
    text-align: start;
  }
  .howto__section .primary-button {
    margin: 0 auto;
  }
  .howto__section .howto__call .primary-button {
    order: 1;
    margin-bottom: 32px;
  }
  .howto__section .howto__call .section-subtitle {
    order: 2;
  }
  .howto__section .howto__call .main-text {
    order: 3;
  }
  .advantages__about .advantages__list {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .advantages__about .advantages__item {
    width: 100%;
    gap: 16px;
  }
  .docs__thumb {
    flex-direction: column-reverse;
  }
  .docs__content {
    width: 100%;
  }
  .docs__nav {
    width: 100%;
    margin-bottom: 24px;
  }
  .docs__section {
    margin: 140px 0;
  }
  .docs__content p,
  .docs__content h3,
  .docs__content h4 {
    font-size: 16px;
  }
  .docs__content .section-title {
    font-size: 24px;
  }
  .license-item {
    flex-direction: column;
  }
  .hero__section.hero-model {
    position: unset;
  }
  .hero__section.hero-model img {
    width: unset;
  }
  .hero-model_thumb {
    margin-top: 120px;
    flex-direction: column;
  }
  .hero-model_thumb #productGallery {
    display: none;
  }
  .hero-model_thumb .hero__title {
    font-size: 32px;
  }
  .hero-model_thumb .main-text {
    font-size: 16px;
  }
  .hero-model_thumb .hero__content {
    width: 100%;
  }
  .hero-model_thumb .hero__content .hero-image {
    display: block;
    width: 420px;
    margin: 0 auto 40px;
  }
  .hero-model_thumb .models__list {
    gap: 24px;
  }
  .layout .layout-content {
    flex-direction: column;
  }
  .layout .layout-box {
    width: 100%;
    gap: 16px;
  }
  .layout .layout-images {
    gap: 8px;
    justify-content: space-between;
  }
  .layout .layout-images .layout-img {
    width: 49%;
  }
  .layout .layout-box div {
    margin-bottom: 0;
  }
  .layout .section-title {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .layout .main-text {
    font-size: 14px;
  }
  .layout .layout-info {
    gap: 4px;
    padding-bottom: 8px;
  }
  .layout .layout-box:first-child {
    width: 100%;
  }
  .layout .layout-box div.mt {
    padding-top: 16px;
  }
  .swiffy-slider__aframe {
    display: block;
  }
  .swiffy-slider__aframe .slider-indicators > * {
    background-color: var(--primary-text-color);
    opacity: 0.2;
  }
  .swiffy-slider__aframe .slider-indicators > .active {
    opacity: 1;
    color: var(--accent-color);
    background-color: var(--accent-color);
  }
  .swiffy-slider__aframe .slider-container img {
    width: 420px;
    margin: 0 auto;
  }
  .advantages__section.advantages__about {
    margin: 0px 0 40px 0;
  }
  .hero__image--mob img {
    display: block;
  }
  .config {
    margin-top: 0;
  }
  .config .config-content {
    flex-direction: column;
  }
  .config .config-img {
    width: 100%;
  }
  .config .config-img img {
    max-width: 420px;
    margin: 0 auto;
  }
  .config .config-container {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .swiffy-slider__aframe .slider-container img {
    width: 100%;
  }
  .models__thumb img {
    width: 100%;
    margin-bottom: 24px;
  }
  .header__button--size {
    width: 40px;
    height: 40px;
  }
  .header__logo--width {
    width: 130px;
  }
  .site-nav {
    padding: 10px;
  }
  .mobile-none {
    display: none;
  }
  .desk-none {
    display: block;
  }
  .hero__section.hero-about {
    margin: 100px 0 40px 0;
  }
  .hero__buttons {
    flex-wrap: wrap;
    gap: 16px;
  }
  .hero__buttons .primary-button,
  .hero__buttons .primary-button--white {
    width: 100%;
  }
  .hero__section img {
    width: 100%;
  }
  .hero__image {
    width: 100%;
  }
  .section-title {
    font-size: 32px;
  }
  .section-subtitle {
    text-align: center;
  }
  .advantages__section.advantages__about {
    margin: 0 0 40px 0;
  }
  .advantages__list {
    flex-direction: column;
  }
  .advantages__item {
    width: 100%;
    padding: 24px;
    gap: 16px;
  }
  .advantages__section .primary-button {
    width: 100%;
    margin: 40px auto 0;
    white-space: nowrap;
  }
  .advantages__about .section-title {
    font-size: 24px;
  }
  .advantages__about .howto__call .main-text {
    width: 100%;
    font-size: 16px;
  }
  .advantages__about .advantages__item p {
    font-size: 16px;
  }
  .slider-section .section-title {
    text-align: start;
    font-size: 40px;
  }
  .slider-section .card-img-box {
    width: 100%;
    margin: 0 auto;
  }
  .slider-section .card-text {
    font-size: 16px;
  }
  .slider-section .swiffy-slider.slider-indicators-outside .slider-indicators,
  .slider-section .swiffy-slider.slider-indicators-outside.slider-indicators {
    gap: 24px;
  }
  .slider-section .slider-indicators > * {
    width: 4px;
    height: 4px;
    border-radius: 100%;
  }
  .models-section .primary-button {
    width: 100%;
  }
  .team-item {
    flex-direction: column;
  }
  .team-item .main-text {
    line-height: 48px;
  }
  .team .section-title {
    font-size: 24px;
  }
  .howto__call {
    margin: 40px 0 0;
  }
  .contacts__list {
    gap: 32px;
  }
  .contacts__adress.main-text {
    font-size: 16px;
  }
  .contact__link.main-text {
    font-size: 16px;
  }
  .howto__section img {
    width: 100%;
    height: 100%;
  }
  .hero-model_thumb .hero-image {
    width: 100%;
  }
  .config {
    margin-bottom: 330px;
  }
  .config .config-container label {
    white-space: pre-wrap;
    width: 33%;
  }
  .config .content-options .options {
    flex-wrap: wrap;
  }
  .config .content-options .option-box {
    width: 40%;
    gap: 20px;
  }
  .aframe-thumb {
    flex-direction: column;
  }
  .aframe-thumb .aframe-form {
    width: 100%;
  }
  .aframe-thumb .aframe-box {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .container {
    padding: 0 15px;
  }
  .slider-section .card-img-box {
    width: 380px;
    margin: 0 auto;
  }
  .slider-section .primary-button {
    position: unset;
  }
  .slider-section .slider-indicators {
    top: 420px;
  }
  .footer {
    margin-top: 360px;
  }
  .hero-model_thumb .hero__content {
    width: 100%;
  }
  .hero-model_thumb .hero__content .hero-image {
    width: 100%;
  }
  .layout .layout-images .layout-img {
    width: 48%;
  }
}
.section-subtitle--m0 {
  margin: 0;
}

.faq__section {
  padding: 30px 0 60px;
}

.faq__container {
  padding-left: 45px;
}

.faq__subtitle {
  color: var(--primary-text-color);
}

.accordion-item {
  background: none;
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
}

.accordion-button {
  margin-bottom: 0;
  font-size: 18px;
  position: relative;
  background: none;
  color: inherit;
  padding: 10px 0;
  transition: color var(--timing-function);
}
.accordion-button::after {
  content: none;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: var(--accent-color);
  box-shadow: none;
}
.accordion-button:not(.collapsed) .accordion-arrow {
  fill: var(--accent-color);
  transform: translateY(-50%) rotate(90deg);
}

.accordion-arrow {
  fill: var(--primary-text-color);
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  transition: fill var(--timing-function), transform var(--timing-function);
}

.accordion-body {
  padding: 0 0 20px;
}

.collapsing {
  transition: height var(--timing-function);
}

@media screen and (max-width: 1023px) {
  .accordion {
    padding: 0 0 0 30px;
  }
}/*# sourceMappingURL=main.css.map */