.hero__section {
  position: relative;
  z-index: 1;
  padding: 10% 0 20%;
}

.hero__content {
  width: 41%;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 51%;

  img {
    width: 100%;
    float: inline-end;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 40px;
}

.hero__box {
  align-items: center;
  display: flex;
  margin-bottom: 90px;
  gap: 60px;
}

.hero__text {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero__buttons {
  display: flex;
  gap: 40px;
  .primary-button--white {
    width: 200px;
  }
}

.models__secrtion {
  margin-top: 90px;
}

.models__list {
  display: flex;
  flex-wrap: wrap;
}

.models__item {
  width: 50%;
  padding: 40px;
}

.models__thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.models__text {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.models-label {
  /* Frame 1 */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 24px;
  gap: 10px;

  border: 2px solid #d9d9d9;
  border-radius: 80px;

  font-size: 24px;
  color: var(--primary-text-color);
  font-weight: 400;
  margin-bottom: 32px;
}

.models-info li {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-text-color);
}

.models-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.models__list > :nth-child(1) {
  position: relative;
}

.models__list > :nth-child(1):after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  height: 95%;
  width: 2px;
  background-color: var(--light-grey-color);
}

.models__list > :nth-child(3) {
  border-right: 2px solid var(--light-grey-color);
  border-top: 2px solid var(--light-grey-color);
}

.models__list > :nth-child(4) {
  position: relative;
}

.models__list > :nth-child(4):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 2px;
  background: var(--light-grey-color);
}

.models-section .primary-button {
  margin: 40px auto 0;
}

@media screen and (max-width: 1023px) {
  .hero__box {
    flex-flow: column;
    margin-bottom: 60px;
  }

  .hero__buttons {
    justify-content: center;
  }

  .hero__text {
    margin-bottom: 45px;
  }

  .hero__image {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .hero__box {
    gap: 45px;
  }

  .hero__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .hero__buttons {
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero__image {
    width: 100%;
  }

  .models__list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .models__item {
    width: calc(50% - 15px);
  }

  .models__thumb {
    margin: 0 0 30px;
    height: 120px;
  }

  .models__thumb img {
    width: 110px;
  }
}
