.hero__section {
  position: relative;
  z-index: 1;
  padding: 10% 0 20%;
}

.hero__content {
  width: 41%;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 51%;

  img {
    width: 100%;
    float: inline-end;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 40px;
}

.hero__box {
  align-items: center;
  display: flex;
  margin-bottom: 90px;
  gap: 60px;
}

.hero__text {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero__buttons {
  display: flex;
  gap: 40px;
  .primary-button--white {
    width: 200px;
  }
}

.models__secrtion {
  margin-top: 90px;
}

.models__list {
  display: flex;
  flex-wrap: wrap;
}

.models__item {
  width: 50%;
  padding: 36px 24px;
}

.models__thumb {
  display: flex;
  gap: 40px;
  align-items: center;
}

.models__text {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.models-label {
  /* Frame 1 */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 24px;
  gap: 10px;

  border: 2px solid #d9d9d9;
  border-radius: 80px;

  font-size: 24px;
  color: var(--primary-text-color);
  font-weight: 400;
  margin-bottom: 32px;
  white-space: nowrap;
}

.models-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  white-space: nowrap;
}

.models__list > :nth-child(1) {
  position: relative;
}

.models__list > :nth-child(1):after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  height: 95%;
  width: 2px;
  background-color: var(--light-grey-color);
}

.models__list > :nth-child(3) {
  border-right: 2px solid var(--light-grey-color);
  border-top: 2px solid var(--light-grey-color);
}

.models__list > :nth-child(4) {
  position: relative;
}

.models__list > :nth-child(4):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 2px;
  background: var(--light-grey-color);
}

.models-section .primary-button {
  margin: 40px auto 0;
}

.advantages__section {
  margin: 96px 0;

  .primary-button {
    margin: 40px auto 0;
  }
}

.main-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-text-color);
}

.advantages__list {
  row-gap: 24px;
  column-gap: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 24px;

  .section-title {
    margin-bottom: 0;
  }

  p {
    text-align: center;
  }
}

.slider-section {
  .card-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .card {
    border: none;
  }

  .card-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary-text-color);
  }

  img {
    height: 700px;
    width: 672px;
  }

  .card-body {
    padding: 0;
  }

  .slider-nav {
    filter: none;
  }

  .slider-indicators {
    width: 100%;
    justify-content: end;
  }

  .primary-button {
    position: absolute;
    bottom: 60px;
    right: 0;
  }
}
.slider-indicators {
  position: inherit;

  bottom: -60px;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.slider-indicators > * {
  width: 15rem;
  opacity: 0.1;
}
.slider-nav-prev {
  left: inherit;
  right: 40px;
}

.slider-nav.slider-nav-next {
  right: -20px;
}

.slider-nav {
  top: inherit;
  bottom: 180px;
}

.card-label {
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 700;
}

.card-content {
  position: relative;
  padding-top: 70px;
  padding-left: 20px;
}

.slider-nav {
  filter: none;
}
.slider-indicators > * {
  transition: none;
  border: none;
}
.slider-indicators > .active {
  opacity: 1;
  filter: none;
  color: var(--accent-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 1023px) {
  .hero__box {
    flex-flow: column;
    margin-bottom: 60px;
  }

  .hero__buttons {
    justify-content: center;
  }

  .hero__text {
    margin-bottom: 45px;
  }

  .hero__image {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .hero__box {
    gap: 45px;
  }

  .hero__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .hero__buttons {
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero__image {
    width: 100%;
  }

  .models__list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .models__item {
    width: calc(50% - 15px);
  }

  .models__thumb {
    margin: 0 0 30px;
    height: 120px;
  }

  .models__thumb img {
    width: 110px;
  }
}
